/* Global font styling */
body {
    font-family: "Roboto";
    line-height: 1.6;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
}

/* Heading fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto";
    font-weight: bold;
    text-align: center;
    
}

/* Code/monospace font */
code, pre {
    font-family: "Roboto";
    font-weight: normal;
    text-align: center;
}

/* Button styling */
button {
    font-family: "Roboto";
    cursor: pointer;
    text-align: center;
}
